$height: 50px;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 $height; /* bottom = footer height */
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  text-align: center;

  vertical-align: middle;
  background: #582a40;
  line-height: $height;
  height: $height;

  // TODO: Delete me
  // display: none !important;


  a {
    text-decoration: none;
    color: #aaa;
    margin-left: 50px;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 12pt;

    &:hover {
      color: #fff;
    }

    &:last-child {
      margin-right: 50px;
    }
  }
}

@media (max-width: 825px) {
  body {
    margin: 0 0 2 * $height; /* bottom = footer height */
  }

  footer {
    height: $height * 2;
  }
}

@media (max-width: 405px) {
  body {
    margin: 0 0 3 * $height; /* bottom = footer height */
  }

  footer {
    height: $height * 3;
  }
}
