$height: 50px;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 $height; /* bottom = footer height */
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  text-align: center;

  display: block !important;
  overflow: hidden;

  div.outer {
    vertical-align: middle;
    line-height: $height;
    height: $height;

    div.inner {
      position: absolute;
      top: 40px;
      width: 100%;
      background: #582a40;
      opacity: 0.6;
      @include vendor-prefix(transition, "opacity 0.2s linear");
      @include vendor-prefix(transition, "top 0.2s ease-out");
    }

    &:hover div.inner {
      opacity: 1;
      top: 0px;
    }
  }


  a {
    text-decoration: none;
    color: #cccccc;
    margin-left: 50px;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 12pt;

    &:hover {
      color: #fff;
    }

    &:last-child {
      margin-right: 50px;
    }
  }
}

@media (max-width: 825px) {
  body {
    margin: 0 0 2 * $height; /* bottom = footer height */
  }

  footer {
    height: $height * 2;

    div.outer div.inner {
      top: 0px;
      opacity: 1;
    }
  }
}

@media (max-width: 405px) {
  body {
    margin: 0 0 3 * $height; /* bottom = footer height */
  }

  footer {
    height: $height * 3;
  }
}
