@font-face {
  font-family: $signatureFont;
  src: font-url('stencilia-a-webfont.eot');
  src: font-url('stencilia-a-webfont.eot?#iefix') format('embedded-opentype'),font-url('stencilia-a-webfont.woff') format('woff'), font-url('stencilia-a-webfont.ttf') format('truetype'), font-url('stencilia-a-webfont.svg#stencilia-aregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'amperzand';
  src: font-url('amperzand-webfont.eot');
  src: font-url('amperzand-webfont.eot?#iefix') format('embedded-opentype'),font-url('amperzand-webfont.woff') format('woff'), font-url('amperzand-webfont.ttf') format('truetype'), font-url('amperzand-webfont.svg#amperzand') format('svg');
  font-weight: normal;
  font-style: normal;
}
