body.front-page {
  $videoWidth: 854px;
  $videoHeight: 480px;

  $videoWidthMedium: $videoWidth / 2;
  $videoHeightMedium: $videoHeight / 2;

  $videoWidthMini: $videoWidthMedium / 2;
  $videoHeightMini: $videoHeightMedium / 2;

  @media (min-width: $videoWidth + 50px) {
    h1, h2 {
      display: none;
    }

    footer {
      display: none;
    }
  }

  @mixin video {
    position: fixed; left: 0; top: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;

    @media (max-width: $videoWidth + 50px) {
      margin: 0 auto;
      display: block;
      position: relative;
      min-width: inherit;
      max-width: inherit;

      width: $videoWidthMedium;
      height: $videoHeightMedium;
    }

    @media (max-height: 720px) {
      width: $videoWidthMedium;
      height: $videoHeightMedium;
    }

    @media (max-width: $videoWidthMedium + 50px) {
      width: $videoWidthMini;
      height: $videoHeightMini;
    }
  }

  @mixin hide-video {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #video {
    @include video;
  }

  #video2 {
    @include hide-video;
  }

  &.video2 {
    #video {
      @include hide-video;
    }

    #video2 {
      @include video;
    }
  }

  #buy-ticket {
    @media (min-width: $videoWidth + 50px) {
      position: absolute;
      bottom: 50px;
      left: 0;
    }

    @media (max-width: 901px) {
      margin-bottom: 140px;
    }

    @media (max-width: 405px) {
      margin-bottom: 180px;
    }

    #button {
      @media (min-width: $videoWidth + 50px) {
        opacity: 0.0;
      }
    }
  }

  &.video1-ended #buy-ticket #button {
    @media (min-width: $videoWidth + 50px) {
      opacity: 1.0;
    }
  }

  &.video2 #buy-ticket #button {
    opacity: 0.0;
  }
}
