body.front-page {
  $videoWidth: 854px;
  $videoHeight: 480px;

  $videoWidthMedium: $videoWidth / 2;
  $videoHeightMedium: $videoHeight / 2;

  $videoWidthMini: $videoWidthMedium / 2;
  $videoHeightMini: $videoHeightMedium / 2;

  @mixin video {
    width: $videoWidth;
    height: $videoHeight;
    margin: 0 auto;
    display: block;

    @media (max-width: $videoWidth + 50px) {
      width: $videoWidthMedium;
      height: $videoHeightMedium;
    }

    @media (max-height: 720px) {
      width: $videoWidthMedium;
      height: $videoHeightMedium;
    }

    @media (max-width: $videoWidthMedium + 50px) {
      width: $videoWidthMini;
      height: $videoHeightMini;
    }
  }

  #video {
    @include video;
  }

  #video2 {
    width: 1px;
    height: 1px;
    position: absolute;
    top: -1px;
    left: -1px;
  }

  &.video2 {
    #video {
      display: none;
    }

    #video2 {
      @include video;
      position: relative;
    }
  }

  #buy-ticket {
    width: 100%;

    #button {
      width: 320px;
      margin: 30px auto;
      text-align: center;
      background: rgba(255, 10, 226, 0.1);
      padding: 10px;
      border-radius: 7px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.2) inset;

      @media (max-width: 500px) {
        font-size: 20pt;
        width: 280px;
      }
    }

    a {
      text-decoration: none;
      color: #FFF;
      font-family: 'amperzand';
      font-weight: normal;
      font-size: 24pt;

      -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
      -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
      -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
      transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;

      &:hover {
        text-shadow: 0 0 10px rgb(255,255,255) , 0 0 20px rgb(255,255,255) , 0 0 30px rgb(255,255,255) , 0 0 40px rgb(255,17,119) , 0 0 70px rgb(255,17,119) , 0 0 80px rgb(255,17,119) , 0 0 100px rgb(255,17,119) , 0 0 150px rgb(255,17,119) ;
      }

      &[deactivated] {
        text-shadow: -1px -1px 0px rgba(0,0,0,0.8), 1px 1px 0px rgba(255,255,255,0.3);
        color: #333;
        opacity: 0.4;
        pointer-events: none;
      }
    }
  }
}
