---
body_class: details page
---

<% content_for :header do %>
<script src='https://js.tito.io/v1' async></script>
<link rel="stylesheet" type="text/css" href="https://css.tito.io/v1" />
<% end %>


<h2>
  The Wizards Of The Web Are Gathering Again
</h2>

<div id="content">
  <p>
    The order is calling for it's most talented magi again.
  </p>

  <h3>
   So Coded 2015 is happening on July 23rd and 24th in Hamburg, Germany!
  </h3>

  <p>
    Your ticket includes excellent food, drinks and an awful lot of magic!
  </p>

  <p>
    Oh and the international high council of web socery will give their best talks and we will have flying unicorns and stuff.
  </p>

  <p>
    It is about time for our next assembly!
  </p>

  <tito-button id="tito-button" event="so-coded/2015" releases="j6bowvjrzyy,r8cfbgof5j4"></tito-button>

  <div id="another-ticket-container">
    <div id="buy-ticket">
      <div id="button">
        <a href="https://ti.to/so-coded/2015" target="_blank" onclick="buyTicket(); return false;">Buy Your Ticket</a>
      </div>
    </div>
  </div>
</div>

<%= image_tag 'star.png', class: 'star' %>

<script>
  (function() {
    window.buyTicket = function() {
      document.getElementById('tito-button').click();
    }
  })();
</script>
