---
body_class: imprint page
---

<h2>
  Imprint
</h2>

<div id="content">
  <p>
    According to § 5 TMG<br/>
    Thorben Schröder
  </p>

  <h3>Contact</h3>

  <p>
    Phone: +49-176- 23550687<br/>
    E-Mail: info@thorbenschroeder.de
  </p>

  <h3>
    Address
  </h3>

  <p>
    Thorben Schröder<br/>
    Am Hohen Stege 10<br/>
    21029 Hamburg<br/>
  </p>

  <p>
    VAT No. according to "§27a Umsatzsteuergesetz"
  </p>

  <p>
    DE 284403701
  </p>

  <p>
    Responsible for the content according to § 55 Abs. 2 RStV: Thorben Schröder, address as stated above
  </p>
</div>
