---
body_class: front-page
---

<h1>
  <%= image_tag 'logo.png', alt: 'So Coded 2015', class: 'large' %>
  <%= image_tag 'logo-small.png', alt: 'So Coded 2015', class: 'small' %>
  <%= image_tag 'logo-wide.png', alt: 'So Coded 2015', class: 'wide' %>
</h1>

<h2>
  <span>
    23th &amp; 24th July
  </span>
  <span>
    Hamburg, Germany
  </span>
</h2>

<video id="video" poster="multimedia/part_1.jpg" preload="auto">
  <!-- MP4 source for Chrome, Safari, Internet Explorer 9+, iOS and Android
  NOTE: remove the type attribute from the MP4 <source> element to ensure older Android support -->
  <source src="multimedia/part_1.mp4" type="video/mp4">

  <!-- WebM source for FireFox and Opera (also Chrome and Internet Explorer 9+) -->
  <source src="multimedia/part_1.webm" type="video/webm">

  <!-- Include an Ogg video file to support Firefox 3.5 and 3.6 -->
  <source src="multimedia/part_1.ogv" type="video/ogg">

  <!-- Provide a Flash fallback for browsers that don't support HTML5 video, e.g. Internet Explorer 6-8.
  This uses the JW Player Flash Player to play the MP4 file. Set the height and width attributes to the correct values. -->
  <object type="application/x-shockwave-flash" data="multimedia/player.swf" width="854" height="480">
    <param name="movie" value="player.swf" />
    <param name="flashvars" value="controls=false&amp;controlbar=hide&amp;image=multimedia/part_1.jpg&amp;file=multimedia/part_1.mp4" />
  </object>
</video>

<video id="video2" preload="auto">
  <!-- MP4 source for Chrome, Safari, Internet Explorer 9+, iOS and Android
  NOTE: remove the type attribute from the MP4 <source> element to ensure older Android support -->
  <source src="multimedia/part_2.mp4" type="video/mp4">

  <!-- WebM source for FireFox and Opera (also Chrome and Internet Explorer 9+) -->
  <source src="multimedia/part_2.webm" type="video/webm">

  <!-- Include an Ogg video file to support Firefox 3.5 and 3.6 -->
  <source src="multimedia/part_2.ogv" type="video/ogg">

  <!-- Provide a Flash fallback for browsers that don't support HTML5 video, e.g. Internet Explorer 6-8.
  This uses the JW Player Flash Player to play the MP4 file. Set the height and width attributes to the correct values. -->
  <object type="application/x-shockwave-flash" data="multimedia/player.swf" width="854" height="480">
    <param name="movie" value="player.swf" />
    <param name="flashvars" value="controls=false&amp;controlbar=hide&amp;file=multimedia/part_2.mp4" />
  </object>
</video>

<div id="buy-ticket">
  <div id="button">
    <a id="join-the-gathering" href="/join-the-gathering" onclick="joinTheGathering(); return false;" deactivated="deactivated">Join The Gathering</a>
  </div>
</div>

<script>
  (function() {
    setTimeout(function() { document.getElementById("video").play(); }, 500);

    function getBody() {
      return document.getElementsByTagName('body')[0];
    }

    function getVideo1() {
      return document.getElementById('video');
    }

    function getVideo2() {
      return document.getElementById('video2');
    }

    function getButton() {
      return document.getElementById('join-the-gathering')
    }

    window.joinTheGathering = function() {
      var body = getBody();
      body.className = body.className + ' video2';
      getVideo2().play();

      var button = getButton();
      button.setAttribute("deactivated","deactivated");
    }

    function attachEndHandlerToVideos() {
      var video1 = getVideo1();
      var video2 = getVideo2();

      if (video1 && video2) {
        video1.addEventListener('ended', function() { getButton().removeAttribute('deactivated'); }, false);
        video2.addEventListener('ended', function() { window.location.pathname = '/join-the-gathering'; }, false);
      } else {
        setTimeout(attachEndHandlerToVideos, 50);
      }
    }
    attachEndHandlerToVideos();
  })();
</script>
