<html>
<head>
  <style>
    body {
      margin: 0;
      height: 100%;
      background: #5d0f3e;
    }

    video#bgvid {
      position: fixed; left: 0; top: 0;
      width: 100%; height: 100%;
      background: url(<%= image_path('so_coded_000600.png') %>) no-repeat center center fixed;
      background-size: cover;
    }

    #play-button-container {
      width: 160px;
      height: 160px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -80px;
      margin-left: -80px;
    }

    #play-button {
      position: relative;
      display: inline-block;
      padding: 12px;
      background: linear-gradient(#ffffff, #cccccc), #c9c5c9;
      border-radius: 200px;
      border: 0 solid #d0d0d0;
      width: 160px;
      height: 160px;
      margin-right: 40px;
      box-shadow: 0 9.6px 11.2px rgba(0, 0, 0, 0.4);
    }

    #play-button:hover {
      background: linear-gradient(#f5f5f5, #b9b9b9), #c9c5c9;
      cursor: pointer;
    }

    #play-button:hover:before {
      border-left-color: rgba(36, 36, 36, 0.8);
    }

    #play-button:active {
      top: 8px;
      box-shadow: 0 3.2px 4.8px rgba(0, 0, 0, 0.4);
    }

    #play-button:before {
      z-index: 2;
      top: 35.2px;
      left: 57.7px;
      width: 0;
      height: 0;
      border: 48px solid transparent;
      border-left-color: rgba(100, 100, 100, 0.8);
      border-left-width: 72px;
      position: absolute;
      content: " ";
    }

    #play-button:after {
      position: absolute;
      content: " ";
    }

    #pause-button {
      position: relative;
      display: inline-block;
      padding: 3px;
      background: linear-gradient(#ffffff, #cccccc), #c9c5c9;
      border-radius: 50px;
      border: 0 solid #d0d0d0;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      box-shadow: 0 2.4px 2.8px rgba(0, 0, 0, 0.4);
    }

    #pause-button:before {
      height: 18.8px;
      width: 7.6px;
      left: 11.6px;
      top: 11.2px;
      display: block;
      background-color: rgba(100, 100, 100, 0.8);
      position: absolute;
      content: " ";
    }

    #pause-button:after {
      left: 21.6px;
      height: 18.8px;
      width: 7.6px;
      top: 11.2px;
      display: block;
      background-color: rgba(100, 100, 100, 0.8);
      position: absolute;
      content: " ";
    }

    #pause-button:hover {
      background: linear-gradient(#f5f5f5, #b9b9b9), #c9c5c9;
      cursor: pointer;
    }

    #pause-button:hover:before, #pause-button:hover:after {
      background-color: rgba(36, 36, 36, 0.8);
    }

    #stop-button {
      position: relative;
      display: inline-block;
      padding: 3px;
      background: linear-gradient(#ffffff, #cccccc), #c9c5c9;
      border-radius: 50px;
      border: 0 solid #d0d0d0;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      box-shadow: 0 2.4px 2.8px rgba(0, 0, 0, 0.4);
    }

    #stop-button:before {
      left: 11.2px;
      height: 18.8px;
      width: 18.8px;
      top: 11.2px;
      background: rgba(100, 100, 100, 0.8);
      position: absolute;
      content: " ";
    }

    #stop-button:after {
      position: absolute;
      content: " ";
    }

    #stop-button:hover {
      background: linear-gradient(#f5f5f5, #b9b9b9), #c9c5c9;
      cursor: pointer;
    }

    #stop-button:hover:before {
      background: rgba(36, 36, 36, 0.8);
    }

    #stop-button:active {
      top: 2px;
      box-shadow: 0 0.8px 1.2px rgba(0, 0, 0, 0.4);
    }

    #other-buttons-container {
      display: none;
      position:absolute;
      top:10px;
      width: 100%;
      height: 50px;
      text-align:center;
    }

    video::-webkit-media-controls {
      display:none !important;
    }
  </style>
</head>
<body>
  <video id="bgvid" poster="<%= image_path 'so_coded_000600.png' %>" preload="auto">
    <!-- MP4 source for Chrome, Safari, Internet Explorer 9+, iOS and Android
    NOTE: remove the type attribute from the MP4 <source> element to ensure older Android support -->
    <source src="multimedia/part_1.mp4" type="video/mp4">

    <!-- WebM source for FireFox and Opera (also Chrome and Internet Explorer 9+) -->
    <source src="multimedia/part_1.webm" type="video/webm">

    <!-- Include an Ogg video file to support Firefox 3.5 and 3.6 -->
    <source src="multimedia/part_1.ogv" type="video/ogg">
  </video>

  <div id="play-button-container">
    <button id="play-button" onclick="document.getElementById('play-button-container').style.display = 'none'; document.getElementById('other-buttons-container').style.display = 'block'; document.getElementById('bgvid').play();return false;"></button>
  </div>

  <div id="other-buttons-container">
    <button id="pause-button" onclick="document.getElementById('other-buttons-container').style.display = 'none'; document.getElementById('play-button-container').style.display = 'block'; document.getElementById('bgvid').pause();return false;"></button>
    <button id="stop-button" onclick="document.getElementById('other-buttons-container').style.display = 'none'; document.getElementById('play-button-container').style.display = 'block'; document.getElementById('bgvid').pause(); document.getElementById('bgvid').currentTime = 0;return false;"></button>
  </div>
</body>
</html>
